/* CSS Document */
/* =================================
DEFAULT STYLES (NO MEDIA QUERY)
Device width:
    320px -->   <-- 768px
==================================== */

/* =================================
Device width:
    <-- 320px
==================================== */
@media (max-width: 320px) {
form{
  height: 70%;
}
}
/* =================================
Device width:
    768px -->   <-- 1024px
==================================== */
@media (min-width: 768px) {
}
/* =================================
Device width:
    1024px -->
==================================== */
@media (min-width: 1024px) {
}
body  {
  height: 100vh;
  background-color: #00e1ff;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
* {
	box-sizing: border-box;
}
/* flexbox container */
form{
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 60%
}
/* flexbox children */
form > * {
}
select{
  font-size: 20px;
  text-align: center;
  outline-style: groove;
  outline-color: #7A19B2;
  display: inline-block;
  margin: auto;
  padding: 10px;

}
label {
  display: block;
  font-size: 79px;
}
.btn-generate {
  outline-color: #FF0000;
  outline-width: thick;
  outline-style: groove;
  width: 250px ;
  height: 120;
  font-size: 40px;
  margin: auto;
  padding: 10px;
 }
 .output {
   outline-color: #7A19B2;
   outline-style: groove;
   outline-width: thick;
   width: 300px ;
   height: 120px;
   font-size: 40px;
   margin: auto;
   padding: 10px;
 }
