/* CSS Document */

body  {
  background-color: #00e1ff;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
* {
	box-sizing: border-box;
}
form{
  text-align: center;
}
select{
  font-size: 20px;
  text-align: center;
  outline-style: groove;
  outline-color: #7A19B2;
  display: inline-block;
  width:
  /* position absolute;
  top: 90%; */
}
label {
  display: block;
  font-size: 79px;
  /* position: absolute;
  top: 100%; */
}
.btn-generate {
  outline-color: #FF0000;
  outline-width: thick;
  outline-style: groove;
  width: 250px ;
  height: 120;
  font-size: 40px;
 }
 .output {
   outline-color: #7A19B2;
   outline-style: groove;
   outline-width: thick;
   width: 500px ;
   height: 120px;
   font-size: 40px;
   right: 50%;
   left: 50%;
     margin: auto;
     padding: 10px;
   }


/*
 }

  #animalSelect {
   left:10%;
   position: absolute;
   width: 10%;
   height: 15%;
   top: 50%;
 }

#hobbySelect {
  left: 40%
  position: absolute;
  width: 10%;
  height: 15%;
  top: 50%;
}

#numberSelect {
  right:10%;
  position: absolute;
  width: 10%;
  height: 15%;
  top: 50%;
}
*/
